<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center m-2">
        <% if(allowReset) { %>
            <div class="bg-white p-8 rounded-lg shadow-lg w-full md:w-1/2 lg:w-1/3 sm:m-5">
                <div id="output-content">
                    <h2 class="text-2xl font-semibold mb-4">Reset Password</h2>    
                    <form id="reset-password">
                        <p class="text-sm text-gray-700 my-2">Password must be at-least 12 characters long and must contain at
                            least
                            one
                            lowercase letter, one uppercase letter, one
                            numeric digit, and one special character </p>
                        <div class="mb-4">
                            <label for="email" class="block text-gray-700">Email</label>
                            <input type="email" id="email" name="email"
                                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                                placeholder="Enter your email" value=<%= email %> readOnly>
                            <span id="email-error" class="text-red-500 text-xs hidden"></span>
                        </div>

                        <div class="mb-4">
                            <label for="password" class="block text-gray-700">New Password</label>
                            <input type="password" id="password" name="password"
                                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                                placeholder="Enter your new password">
                            <span id="password-error" class="text-red-500 text-xs hidden"
                                title="Password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.">Invalid
                                email</span>
                        </div>
                        <div class="mb-4">
                            <label for="confirmPassword" class="block text-gray-700">Confirm New Password</label>
                            <input type="password" id="confirm-password" name="confirm-password"
                                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                                placeholder="Confirm your new password">
                            <div class="mt-2">
                                <input type="checkbox" id="show-password" name="show-password"
                                    class="form-checkbox text-blue-600">
                                <label for="show-password" class="ml-2 text-gray-700">Show password</label>
                            </div>
                            <span id="confirm-password-error" class="text-red-500 text-xs hidden"
                                title="Password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.">Invalid
                                password </span>
                            <span id="fields-required-error" class="text-red-500 text-xs hidden">All fields are
                                required</span>
                            <button type="submit"
                                class="w-full bg-blue-500 text-white py-2 px-4 my-2 rounded-md hover:bg-blue-600 transition duration-300">Reset
                                Password</button>
                    </form>
                    <p id="password-reset-failure" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-2 hidden" role="alert">
                        Failed to reset the password
                    </p>
                </div>
            </div>
        <% } else{ %>
            <div class="max-w-sm mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div>
                    <p class="block text-gray-700 text-sm font-bold">Link not valid</p>
                </div>
            </div>
        <% } %>
    <script src="/script/resetPassword.js"></script>
</body>

</html>